---
import Navbar from "../components/Navbar.astro";
import Wave from "../components/Wave.astro";
import Contact from "../components/Contact.astro";
import Projects from "../components/Projects.astro";
---

<!DOCTYPE html>
<!-- 
--rich-black: #091C26ff;
--teal: #147F85ff;
--fuchsia-rose: #CD5379ff; EXPIRIENCE
--caput-mortuum: #522528ff;
--rich-black-2: #03080Fff;  ABOUT
--sandy-brown: #FAAB55ff; SERVICES
--midnight-green: #0E404Bff;
 -->
<html lang="en" class="w-screen scroll-smooth scrollbar-hide" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/me.jpg" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css"
      rel="stylesheet"
    />
    <title>מאור רחמיאל</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka&family=Heebo:wght@400;700;900&family=Open+Sans&family=Varela+Round&display=swap"
      rel="stylesheet"
    />

    <!-- ICONS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body class="w-screen overflow-x-hidden font-varela">
    <Navbar />
    <div class="fixed top-20 z-[19] w-full bg-indigo-600 px-4 py-3 text-white">
      <p class="text-center text-sm font-medium">
        דף נחיתה מעוצב אישית רק ב <span class="text-base underline">500₪</span> &emsp;
        <a
          href="#contact"
          class="inline-block rounded-lg bg-white px-2 py-1 text-indigo-400 hover:bg-gray-300 lg:px-3 lg:py-2"
          >מעוניין?</a
        >
      </p>
    </div>

    <main class="pt-28">
      <div
        class="relative flex min-h-[75vh] w-full flex-col items-center justify-center text-center"
      >
        <div class="w-fit px-8 text-white">
          <h1
            class="text-center font-heebo text-4xl font-black text-gray-100 sm:text-5xl md:whitespace-nowrap md:text-6xl lg:text-8xl"
          >
            לא מצליח לקבל פניות?
            <!-- <a
              href="#contact"
              class="relative cursor-pointer font-black text-blue-500 before:absolute before:bottom-2 before:-right-[10%] before:-left-[10%] before:h-1 before:w-[120%] before:origin-right before:scale-x-0 before:bg-blue-500 before:transition before:duration-150 before:ease-in hover:before:scale-100 xl:before:h-3"
              >ככה</a
            >  -->
          </h1>
          <h3 class="mt-4 text-2xl md:text-4xl">
            קבל הרבה יותר לקוחות רלוונטים בעזרת אתר מעוצב אישית תוך פחות מ-5 ימי
            עסקים.
          </h3>

          <div
            class="mt-7 flex flex-row justify-center gap-5 font-heebo text-base font-bold lg:text-3xl"
          >
            <a
              data-ripple-light="true"
              href="#about"
              class="inline-block w-fit cursor-pointer rounded-md bg-blue-500 px-6 py-3 tracking-wider transition-all hover:scale-105 lg:px-9"
            >
              צור קשר
            </a>
          </div>
        </div>

        <img
          src="/mywebsite/background.png"
          alt=""
          class="absolute top-0 -z-10 h-full w-full object-cover object-center brightness-50"
        />
      </div>

      <section
        id="about"
        style="background-color: #0E404Bff ;"
        class="px-18 w-full scroll-mt-20 p-5 text-center"
      >
        <div class="mx-auto max-w-screen-xl">
          <div
            class="mx-auto my-12 flex w-full justify-around gap-y-5 py-5 text-center text-xl font-medium text-gray-200 max-sm:flex-col xl:text-2xl"
          >
            <div>
              <i
                class="fa-solid fa-shekel-sign text-5xl transition-all hover:scale-110 lg:text-6xl"
              ></i>
              <p class="text-white">מחירי רצפה</p>
            </div>
            <div>
              <i
                class="fa-solid fa-user text-5xl transition-all hover:scale-110 lg:text-6xl"
              ></i>
              <p class="text-white">מתאים לעסקים קטנים ובינוניים</p>
            </div>
            <div>
              <i
                class="fa-solid fa-clock text-5xl transition-all hover:scale-110 lg:text-6xl"
              ></i>
              <p class="text-white">אתר מלא תוך 5 ימים</p>
            </div>
            <div>
              <i
                class="fa-solid fa-pen-nib text-5xl transition-all hover:scale-110 lg:text-6xl"
              ></i>
              <p class="text-white">עיצוב אישי שמושך פניות רלונטיות</p>
            </div>
          </div>
          <h1
            class="mt-4 text-center font-heebo text-6xl font-bold text-cyan-700 xl:text-8xl"
          >
            קצת עליי
          </h1>
          <p class="py-2 px-10 font-varela text-lg text-white lg:text-2xl">
            שמי מאור, אני רק בן 13 ואני בונה אתרים לבעלי עסקים קטנים ובינוניים
            שרוצים אתר שממיר פניות רלונטיות. האתרים שאני בונה הם מעוצבים אישית
            ורספונסיבים.
          </p>
          <p class="py-2 px-10 font-varela text-lg text-white lg:text-2xl">
            נכון לעכשיו, אני יוצא למסע חדש כשאני מתחיל את התואר שלי במתמטיקה
            ומדעי המחשב באוניברסיטת תל אביב, בתוכנית בנו ארבל. אני נרגש להעמיק
            את ההבנה שלי במדעי המחשב ולחקור תחומי עניין חדשים בתחום.
          </p>
        </div>
      </section>

      <Wave />

      <section
        id="services"
        style="background-color: #FAAB55ff ;"
        class="px-18 w-full scroll-mt-20 p-5 text-center"
      >
        <div class="mx-auto max-w-screen-xl">
          <h1
            class="mt-4 text-center font-heebo text-6xl font-bold text-cyan-700 lg:text-8xl"
          >
            השירותים שאני מציע
          </h1>
          <div class="px-10 text-base text-slate-600 sm:text-lg lg:text-xl">
            <p class="py-2 font-varela">
              אני מתמחה בפתרונות אתרי עסקים מותאמים אישית לכל לקוח, ובפרט לעסקים
              קטנים ובינוניים. אני מציע פתרונות איכותיים ומותאמים לצרכי הלקוחות
              שלי, ומפתח את האתר המתאים לצרכיו ולמטרות העסקיות שלו.
            </p>

            <p class="py-2 font-varela">
              אני משתמש בטכנולוגיות המתקדמות ביותר כדי לספק את הפתרונות הטובים
              ביותר והמתאימים לצרכי הלקוחות שלי. כמו כן, אני מציע שירותי תחזוקה
              ושדרוגים כדי להבטיח שהאתר של הלקוח יישאר מעודכן ויעיל ככל שניתן.
            </p>

            <p class="py-2 font-varela">
              אני נכנס לעומק הצרכים של כל לקוח כדי לספק לו את הפתרונות המתאימים
              ביותר לעסק שלו. כל האתרים והדפים שאני בונה מתאימים למכשירים ניידים
              ולכל התצוגות של מסכי מחשב, כדי להבטיח נוחות ויעילות בגלישה של
              הלקוחות שלי.
            </p>
          </div><h2 class="mt-4 text-center text-3xl text-cyan-600">
            אני מאמין שאתר אינטרנט איכותי וייחודי הוא חיוני לכל עסק שמתחיל את
            דרכו
          </h2>
        </div>
      </section>
      <Wave />

      <section
        id="expirience"
        style="background-color: #CD5379ff ;"
        class="px-18 w-full scroll-mt-20 space-y-5 p-5 text-center"
      >
        <h1
          class="mt-4 font-heebo text-6xl font-bold text-[#091C26ff] xl:text-8xl"
        >
          תיק עבודות
        </h1>

        <Projects />
      </section>
      <Wave />
      <Contact />
    </main>

    <footer class="bg-slate-800 shadow-xl">
      <div
        class="container mx-auto w-full p-4 text-slate-200 md:flex md:items-center md:justify-between md:p-6"
      >
        <span>
          עוצב על ידי <a
            href="https://www.facebook.com/profile.php?id=100090172908011"
            class="text-lg font-semibold text-[#FAAB55ff] hover:underline"
            >מאור רחמיאל</a
          >
        </span>
      </div>
    </footer>

    <script
      src="https://unpkg.com/@material-tailwind/html@latest/scripts/ripple.js"
    ></script>
    <!-- Accessibility Code for "infermi.github.io" -->
    <script>
      // @ts-ignore
      window.interdeal = {
        sitekey: "92ca7939ee5a307139679ef306bab528",
        Position: "Left",
        Menulang: "HE",
        domains: {
          js: "https://cdn.equalweb.com/",
          acc: "https://access.equalweb.com/",
        },
        btnStyle: {
          vPosition: ["80%", null],
          scale: ["0.8", "0.8"],
          color: {
            main: "#1876c9",
            second: "",
          },
          icon: {
            type: 7,
            shape: "semicircle",
            outline: false,
          },
        },
      };
      (function (doc, head, body) {
        var coreCall = doc.createElement("script");
        // @ts-ignore
        coreCall.src = interdeal.domains.js + "core/4.4.1/accessibility.js";
        coreCall.defer = true;
        coreCall.integrity =
          "sha512-tq2wb4PBHqpUqBTfTG32Sl7oexERId9xGHX2O3yF91IYLII2OwM1gJVBXGbEPaLmfSQrIE+uAOzNOuEUZHHM+g==";
        coreCall.crossOrigin = "anonymous";
        // @ts-ignore
        coreCall.setAttribute("data-cfasync", true);
        body ? body.appendChild(coreCall) : head.appendChild(coreCall);
      })(document, document.head, document.body);
    </script>

    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"
    ></script>

    <!-- WAVES -->
    <script>
      const xhr = new XMLHttpRequest();
      const waves = document.querySelectorAll<HTMLElement>(".wave");
      for (let i = 0; i < waves.length; i++) {
        // @ts-ignore

        // @ts-ignore
        waves[i].parentElement.style.backgroundColor =
          waves[i].parentElement.previousElementSibling.style.backgroundColor;
        // @ts-ignore
        waves[i].setAttribute(
          "fill",
          waves[i].parentElement.nextElementSibling.style.backgroundColor
        );
      }

      xhr.responseType = "text";
      xhr.onload = function () {
        if (xhr.readyState === xhr.DONE) {
          if (xhr.status === 200) {
            window.waveOptions = xhr.responseText.split("\n");

            // displays an array of all lines of the text file
          }
        }
      };
      xhr.onloadend = function () {
        let upperBound = window.waveOptions.length;

        for (let i = 0; i < waves.length; i++) {
          // @ts-ignore

          // @ts-ignore
          waves[i].parentElement.style.backgroundColor =
            waves[i].parentElement.previousElementSibling.style.backgroundColor;
          // @ts-ignore
          waves[i].setAttribute(
            "fill",
            waves[i].parentElement.nextElementSibling.style.backgroundColor
          );
          waves[i].setAttribute(
            "d",
            window.waveOptions[Math.floor(Math.random() * upperBound)]
          );
          waves[i].style.display = "";
        }
      };
      xhr.open("GET", "/mywebsite/waves_options.txt", true);
      xhr.send();
    </script>
    <!-- NAVBAR  -->
    <script>
      const sections = document.querySelectorAll("section");
      const navLi = document.querySelectorAll("nav li a");

      window.onscroll = () => {
        var current = "";

        sections.forEach((section) => {
          // @ts-ignore
          const sectionTop = section.offsetTop;

          if (pageYOffset >= sectionTop - 80) {
            current = section.getAttribute("id");
          }
        });
        navLi.forEach((li) => {
          if (li.getAttribute("href") == "#" + current) {
            li.classList.add("text-blue-500");
          } else {
            li.classList.remove("text-blue-500");
          }
        });
      };
    </script>
  </body>
</html>
