<section class="scroll-mt-20 bg-dark" id="contact">
  <div class="mx-auto max-w-screen-md px-4 py-8 lg:py-16">
    <h2 class="mb-4 text-center font-heebo text-7xl font-black text-white">
      צור קשר
    </h2>
    <p class="mb-8 text-center text-gray-400 sm:text-xl lg:mb-16">
      מלאו את המידע ואחזור אליכם בקרוב
    </p>
    <form
      action="https://formsubmit.co/maorrachmiel@gmail.com"
      method="POST"
      class="space-y-8"
    >
      <div>
        <label for="name" class="mb-2 block text-sm font-medium text-gray-300"
          >שם מלא</label
        >
        <input
          name="name"
          type="text"
          id="name"
          class="shadow-sm-light block w-full rounded-lg border border-gray-600 bg-gray-700 p-2.5 text-sm text-white placeholder-gray-400 shadow-sm focus:border-[#f88507] focus:ring-[#f88507]"
          required
        />
      </div>

      <div>
        <label for="phone" class="mb-2 block text-sm font-medium text-gray-300"
          >טלפון</label
        >
        <input
          type="number"
          id="phone"
          name="phone"
          class="shadow-sm-light block w-full rounded-lg border border-gray-600 bg-gray-700 p-2.5 text-sm text-white placeholder-gray-400 shadow-sm focus:border-[#f88507] focus:ring-[#f88507]"
          required
        />
      </div>

      <button
        type="submit"
        class="rounded-lg bg-[#d27006] py-3 px-6 text-center text-lg text-white transition-all hover:-translate-y-1 hover:scale-105 hover:bg-[#ab5c05] focus:outline-none focus:ring-4 focus:ring-[#854704] sm:w-fit"
        >שלח</button
      >
    </form>
  </div>
</section>
